body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(1, 38, 38);
}
div {
    height: 5vh;
    width: 20vw;
    background-color: azure;
    border: 1px solid rgb(1, 38, 38);
    border-radius: 1vh;
    text-align: center;    
    padding: 0,5vw;
    margin-top: 1vh;
    vertical-align: middle;
}

input, button {
    height: 5vh;
    width: 20vw;
    margin-top: 1vh;
}
